<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yale.qcxxandroid"
    android:versionCode="1"
    android:versionName="1.7" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name">
       <!--com.yale.qcxxandroid.StartActivity MyClassActivityitem-->
        <activity
            android:name="com.yale.qcxxandroid.StartActivity"
            android:label="@string/app_name" android:configChanges="orientation|keyboardHidden" android:theme="@style/Anim_style2"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- PopwindActivity -->
		<activity android:name=".base.BaseActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".SinActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".ImageViewActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".ZhifuActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MarkdeayActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MoneyActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".SXActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MarkActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".AddActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MyCollectionActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".CollectionActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity
		    android:name=".AdrebookActivity"
		    android:configChanges="orientation|keyboardHidden"
		    android:theme="@android:style/Theme.NoTitleBar"
		    android:windowSoftInputMode="adjustPan" />

		<activity android:name=".chat.ChatMainActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustResize"/>
		<activity android:name=".CommentsActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".FabuActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".camera.ImgsActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".camera.ImgFileListActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MyClassActivityNear" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".base.MainActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".base.ShowMainTabActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".base.ZhiTiaoTabActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".LoginActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".RegditActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".RegditActivity1" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".ShowHotActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".ShowActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".ShowNewActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MySchoolActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".ShowListActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".ShowPubActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".CommentDetailActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".ShowPageListActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".ClassMailActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".ClassActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".CommentListActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MyZhiTiaoActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
		<activity android:name=".MyMessageActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MyActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MychildeActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.DeviceDefault.NoActionBar" android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".MyMpActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".MyDetailActivity" android:configChanges="orientation|keyboardHidden" android:theme="@style/MyLeftToRight" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".MyClassActionActivity" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".MyClasslActivityDepar" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
   		<activity android:name=".MyClassActivityitem" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".MyClassActivityOther" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".MyClassActivityCont" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".MyClassActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.DeviceDefault.NoActionBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".MyCreditActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".base.AlertDialoger" android:configChanges="orientation|keyboardHidden" android:theme="@style/MyDialogStyle" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".dick.Dialoger" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".SettingActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".MyShowListActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
		<activity android:name=".ScorePlazaActivity" android:configChanges="orientation|keyboardHidden"   android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".YouthActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".YouthXxhdActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".YouthAddFriendActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".YouthStartQunActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
    	<activity android:name=".ShakeActivity" android:configChanges="orientation|keyboardHidden"  android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
    	<!-- 通过的内容 -->
		<activity android:name=".base.ExitFromAppDialog" android:theme="@style/MyDialogStyleBottom" /> 
    	<activity android:name=".base.WelcomeDoor" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".base.Welcome" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="adjustPan"  />
    	<activity android:name=".base.Exit" android:theme="@style/MyDialogStyle" android:windowSoftInputMode="adjustPan"/>  
    	<activity android:name=".base.MainTopMoreDialog" android:theme="@style/MyDialogStyleTop" /> 
    	
    	<!-- 百度定位 -->
 		<service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v5.0.1" />
            </intent-filter>
        </service> 
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Yts8gSTNYQLpWWSKh3Y46DSP" />           	
    	</application>
    	
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> 
<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> 
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> 
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
<uses-permission android:name="android.permission.BROADCAST_STICKY" /> 
<uses-permission android:name="android.permission.CAMERA" /> 
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />  
<uses-permission android:name="android.permission.GET_ACCOUNTS" />  
<uses-permission android:name="android.permission.INTERNET" /> 
<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> 
<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />  
<uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
<uses-permission android:name="android.permission.RECEIVE_SMS" /> 
<uses-permission android:name="android.permission.RECORD_AUDIO" /> 
<uses-permission android:name="android.permission.READ_CONTACTS" /> 
<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />  
<uses-permission android:name="android.permission.USE_CREDENTIALS" />
<uses-permission android:name="android.permission.VIBRATE" /> 
<uses-permission android:name="android.permission.WRITE_CONTACTS" /> 
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
<uses-permission android:name="android.permission.WRITE_SETTINGS" /> 
 <uses-feature android:name="android.hardware.camera" />
 <uses-feature android:name="android.hardware.camera.autofocus" />
 <uses-permission android:name="android.permission.CAMERA" />
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 

<supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" /> 
</manifest>
